img {
    display: block;
    box-align: center;
    width: 100%;
   
  }

    
figure{
  float: left;
    height: 400px;
    width: 325px;
}
 #header{
  border: 3px solid darkcyan;
  float: center;
  font-size: 48;
 } 
 


