body{
  background-color: azure;
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
}


img {
    display: block;
    box-align: center;
    width: 100%;
   
  }
#navMenu{
  float: right;
}
    
figure{
  float: left;
    height: 400px;
    width: 325px;
}
 #header{
  border-top: 3px solid darkcyan;
  float: center;
  
 } 
 #name{
   font-size: 64;
   border-bottom: 3px solid darkcyan;
 }
 
#story{
  padding-top: 2rem;
  float: center;
  width: 100%;
  background-color: slateblue;
}

#techSkills{
  padding-top: 1rem;
  float: center;
    width: 50%;
    background-color: slategrey;
}
#ProfessionLinks{
  padding-top: 1rem;
  float: center;
  width: 75%;
  background-color: slateblue
}
#Contact{
  padding-top: 1rem;
  float: center;
  width: 65%;
  background-color: slategrey;
}



