img {
    display: block;
    align-content: center;
    
    width: 100%;
  }
  div.clearfix {
    overflow: auto;
  }
  section{
    border: 3px solid darkcyan;
  }
figure{
    height: 100px;
    width: 70px;
}
  