

  .projectLinks{
    background:  hsla(180, 100%, 94%, 0.8);
   
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      border: 2rem solid hsla(180, 100%, 94%, 0.3);
      margin-right: 25rem;
      margin-left: 25rem;
     margin-bottom: 5rem; 
      
      margin-top: 4rem;
  }
  #title{   
      color: black;
      padding-top: 1rem;
      margin-bottom: 2rem;
      font-size: 52px;
  }
  .columnLayout section{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content:  center;
      align-items: center;
  }

  .columnLayout article{
      display: flex;
      align-content: center;
      border-top: 7px solid black;
      margin-left: 2rem;
      margin-right: 2rem;
      padding-bottom: 6px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-items: center; 
      align-items: center;
      
      
  }
  article p{
      font-size: 18px;
      color: black;
      text-align: center;    
  }
  article h2{
      padding-top: 6px;
      padding-bottom: 6px;
      font-size: 38px;
      color: black;
  }
  .articleButton{
      width: 90px;
  }
  .hide {
    opacity: 0;
}

.hideButton1 {
   width: 90px;
   border-radius: 6px;

  }
  .hideButton1:hover {
    background-color: lightcyan;
 
   }
  .hideButton2 {
    width: 90px;
    border-radius: 6px;
    
 
   }
   .hideButton2:hover {
    background-color: lightcyan;
 
   }
   .hideButton3 {
    width: 90px;
    border-radius: 6px;
 
   }
   .hideButton3:hover {
    background-color: lightcyan;
 
   }
   .hideButton4 {
    width: 90px;
    border-radius: 6px;
 
   }
   .hideButton4:hover {
    background-color: lightcyan;
 
   }
  .projectFooter{
    background-color: #404040;
    color:lightcyan;
    margin-top: 11.15rem;
    
    

  }




  /* carousel */
  .wrapper {
    height: 600px;
    width: 750px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    justify-content: center;
  }
  
  .button-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
  
  }
  
  .carousel {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease;
  }
  
  .card {
    
    min-width: 750px;
   min-height: 400px;
   
    display: inline-block;
  }

.buttonRight{
  background-color: hsla(180, 100%, 94%, 0.7);
    color:#404040;
    padding-top: 2px;
    padding-bottom:2px;
    font-size: 20px;
}
.buttonLeft{
  background-color: hsla(180, 100%, 94%, 0.7);
  margin-right: 20rem;
    color:#404040;
    padding-top: 1px;
    padding-bottom:1px;
    font-size: 20px;
}



  /*
 * Default Styles
 */
/*
 * Default Styles
 */
 
  


/*
 * App Styles
 */


.nav {
  position: relative; /* Let's us position the list absolute */
}

/*
 * Action Classes (JS Stuff)
 */
.hideNav {
  display: none;
}
