.container{
    display:grid;
    justify-items: center;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
  
  }


.techSkills h2{
    color: black;
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
    font-size: 42px;
    background:  hsla(180, 100%, 94%, 0.8);
}
#skills{
    display: flex;
    justify-content: center;
  
}
.techSkills{
      padding: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
      background:  hsla(180, 100%, 94%, 0.8);
      border: 2rem solid lightcyan;
     }  
  
     @media (min-width: 607px) {
     .skillsList{
        display: grid;
        grid-template-columns: 15rem 15rem;
        justify-content: center;
        text-align: center;
  }
}
  .flexItem{
     background: hsla(180, 100%, 94%, 0.8);
       padding: 5px;
       color:black; 
        font-size: 18px;
  }
  .skillsFooter{
  background-color: #404040;
    color:lightcyan;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.hideNav {
    display: none;
  }