* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html{
    
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
  }
  
body{
   
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://images.unsplash.com/photo-1455453754083-25b0af716329?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    width: 100%;
   background-position-y: 34%;
      background-size: cover;   
    background-attachment: fixed;
   
}

.headerContents{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #404040;
    padding-top: 5px;
    padding-bottom: 5px;

}


.hamburgerIcon {
    position: relative;
    padding-left: 90px;
  
  }
  .hamburgerIcon:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 50px;
    height: 5px;
    border-top: 15px double lightcyan;
    border-bottom: 5px solid lightcyan;
  }

  .proLinks{
      display:flex;
      list-style-type: none;
     padding-left: 10px;
  }
   .proLinks li{
      padding-right: 6px;
  }

  main{
      display: grid;
      
  }

  .container2{
    display:grid;
    justify-items: center;
    margin-top: 15rem;
    text-align: center;
    margin-bottom: 2rem;
  
  }
  #name{
      
      /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
      font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    background:  hsla(180, 100%, 94%, 0.5);
    border: 1.5rem solid hsla(180, 100%, 94%, 0.3);
    padding:8px;
    font-size: 40px;
    padding-left: 14px;
    padding-right: 14px;

  }
  h2 {
      font-size: 43px;
  }

  .story{
      display:grid;
      justify-items: center;
     
  }

/* .story{
    border-radius: 25px;
    background:  hsla(180, 100%, 94%, 0.8);
    border: .5rem solid hsla(180, 100%, 94%, 0.3);
    padding:4px;
    margin-left: 8rem;
    margin-right: 8rem;
} */






  .homeFooter{
    background-color: #404040;
    color:lightcyan;
    position: absolute;
    bottom: 0;
    width: 100%;

  }






  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.bioContent {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#bioButton{
    display: flex;
    /* margin-right: 30rem;
    margin-left: 30rem; */
    justify-content: center;
    text-align: center;
    /* align-items: center; */
    padding: 4px;
    border-radius: 5px;
    background-color: hsla(180, 100%, 94%, 0.5);

}
button{
  /* display: inline; */
  width: 60px;
}
.modal__box{
  display:flex;
  justify-content: center;

}

.picture figure{
  height: 250px;
  width: 185px;
  /* Going over this later */
  overflow: hidden; 
  margin-top: .2rem;  
}

.picture img {
  width: 100%;
  /* border: 4px solid lightcyan; */
  /* border: 4px solid #404040; */
  border-radius: 170px;

}
.picture{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  

}
/* .menu{
    height: 100px;
    width: 100px;
    position: relative;
    border: 1px solid darkblue;
}

.hamburgerIcon{
    height: 6px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: slategrey;
    border-radius: 5px;
    transform: translate(-50%, -50%) rotate(0deg);

}
.hamburgerIcon:first-child{
    height: 6px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: slategrey;
    border-radius: 5px;
    transform-origin: 0% 0%;
}

.hamburgerIcon:nth-child(2){
    content: "";
    position: absolute;
    height: inherit;
    width: inherit;
    border-radius: inherit;
    margin: auto;
    width: inherit;
    transform-origin: 0% 100%;

}
  
   */

   /*
 * Default Styles
 */

 /* html {
  --light-green: hsla(120, 50%, 85%, 1);
  --mid-green: hsla(120, 50%, 40%, 1);
  --dark-green: hsla(120, 50%, 10%, 1);
  
  font: 20px/1 sans-serif;
} */


a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

/*
 * App Styles
 */



.nav {
  position: relative; /* Let's us position the list absolute */
}

.navButton {
  background-color: var(--light-green);
  border: none;
  border-radius: 0.25rem;
  color: var(--dark-green);
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.navList {
  list-style: none;
  padding: 1rem 1.5rem;
  position: absolute; /* Let's us position the list relative to the `nav` container*/
  right: 0; /* Positions the list flush with the right edge of the `nav` container */
  background-color: lightcyan;
  margin-top:28px;
  margin-right: 14px;
}

.navLink {
  margin-bottom: 0.5rem;
;
}
  .navLink:last-child {
    margin-bottom: 0;
  }

/*
 * Action Classes (JS Stuff)
 */
.hide {
  display: none;
}
a:hover{
  color: 	 #ffd1dc;
}
